@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body  {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q  {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

/* Grid */
.row, .column {
  box-sizing: border-box; }

.row:before,
.row:after {
  content: '';
  display: table; }

.row:after {
  clear: both; }

.column {
  position: relative;
  float: left; }
  .column + .column {
    margin-left: 1.6; }

.col-1 {
  width: 6.86667%; }

.col-2 {
  width: 15.33333%; }

.col-3 {
  width: 23.8%; }

.col-4 {
  width: 32.26667%; }

.col-5 {
  width: 40.73333%; }

.col-6 {
  width: 49.2%; }

.col-7 {
  width: 57.66667%; }

.col-8 {
  width: 66.13333%; }

.col-9 {
  width: 74.6%; }

.col-10 {
  width: 83.06667%; }

.col-11 {
  width: 91.53333%; }

.col-12 {
  width: 100%; }

article {
  width: 93%;
  max-width: 1200px;
  display: table;
  clear: both;
  background-color: #fff;
  padding-bottom: 80px;
  border-right: 1px solid #ececec; }
  article .container {
    margin-right: 0; }

#ratings li {
  display: inline-block;
  margin: 0 15px; }

#ratings-likes {
  background-image: url(".assets/img/icons/ratings/likes.png");
  background-size: contain;
  width: 32px; }

#ratings-views {
  background-image: url(".assets/img/icons/ratings/views.png");
  background-size: contain;
  width: 32px; }

#ratings-comments {
  background-image: url(".assets/img/icons/ratings/comments.png");
  background-size: contain;
  width: 32px; }

#social-share {
  width: 15%;
  float: left;
  margin-top: 200px; }
  #social-share ul {
    display: inline-block; }
    #social-share ul li {
      border: 1px solid #e2e2e2; }

#content {
  width: 60%;
  padding-right: 20px;
  float: none; }
  #content p {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 10px 0;
    line-height: 1.4; }
  #content h2 {
    border-bottom: 1px solid #e2e2e2; }
  #content h3 {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 20px 0;
    line-height: 1.4; }

#artist-info {
  width: 25%;
  float: right;
  background-color: #1D2027;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -115px; }
  #artist-info img {
    border-radius: 50%; }
  #artist-info #artist-image {
    border-radius: 50%;
    background-image: url(../../img/info-img.jpg);
    background-repeat: no-repeat;
    width: 80px;
    background-size: cover;
    height: 80px;
    background-position: center;
    margin: 0 auto; }
  #artist-info #navbar {
    float: none;
    width: 100%; }
    #artist-info #navbar ul {
      text-align: left; }
      #artist-info #navbar ul li {
        text-align: center;
        width: 49%;
        display: inline-block;
        background-color: #2a2e39;
        color: #DDCBC1;
        padding: 25px 0;
        font-size: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0; }
  #artist-info h3 {
    font-size: 20px;
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0; }
  #artist-info #learn-more {
    padding: 10px 25px 0 25px;
    width: 100%; }
    #artist-info #learn-more img {
      border-radius: 50%; }
    #artist-info #learn-more ul {
      text-align: left; }
      #artist-info #learn-more ul li {
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        display: block;
        width: 100%; }
        #artist-info #learn-more ul li:first-of-type {
          border-top: 0; }
        #artist-info #learn-more ul li:last-of-type {
          border-bottom: 0; }
        #artist-info #learn-more ul li p {
          font-size: 11px;
          font-size: 1.1rem;
          display: inline-block; }
        #artist-info #learn-more ul li span {
          float: right;
          font-size: 10px;
          font-size: 1rem; }

#image-slider {
  width: 75%;
  margin: 40px 0; }
  #image-slider-counter {
    position: relative;
    display: inline-block;
    float: right; }
    #image-slider-counter #playButton {
      background-color: #FC004E;
      display: inline-block;
      float: right;
      text-align: center;
      padding: 30px 35px;
      position: absolute;
      right: 0;
      top: -27px;
      color: #fff;
      color: #fff; }
    #image-slider-counter ul {
      background-color: #fbfbfb;
      padding-right: 76px; }
      #image-slider-counter ul li {
        display: inline-block;
        padding: 6px 25px;
        margin: 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold; }

section {
  margin-left: 15%;
  margin-right: 25%;
  font-size: 1.4rem;
  line-height: 1.4; }
  section p {
    margin: 10px 0; }

#image-block {
  height: 400px;
  width: 90%;
  position: relative;
  margin: 60px 0; }
  #image-block-right {
    width: 60%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0; }
  #image-block-left {
    width: 60%;
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 50px; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #F8F8F8; }

.wrapper {
  width: 100%; }

img {
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  line-height: 1; }

p {
  font-family: 'Lato', sans-serif; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: table;
  clear: both; }

.topbar {
  padding: 8px 0; }
  .topbar h2 {
    padding: 5px 10px;
    border: 2px solid black;
    display: inline-block;
    color: #000;
    float: left;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0 15px; }

img {
  float: left; }

nav {
  display: inline-block;
  float: right; }

li {
  display: inline-block;
  margin: 0 15px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.5; }
  li a {
    color: #000;
    text-transform: uppercase; }

header {
  position: relative;
  text-align: center;
  height: 750px;
  width: 100%;
  max-width: 80%;
  padding: 0 20px;
  background: #444 url("../../img/macklemore-one.jpg");
  background-position: left;
  background-size: cover; }
  header .row {
    padding: 20px 0; }
  header h1 {
    font-size: 110px;
    font-size: 11rem;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    text-shadow: 7px 0 0 #444;
    position: absolute;
    bottom: -13px;
    margin-left: 105px; }
  header .title {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0; }

#quote {
  font-size: 30px;
  font-size: 3rem;
  font-weight: bold;
  padding: 30px 0; }

.icon {
  width: 54px; }

#play {
  float: right;
  width: 34px;
  float: right; }

#text-big {
  font-weight: bold;
  font-size: 3rem !important;
  text-align: left;
  display: inline-block;
  float: left;
  width: 40%;
  padding: 25px;
  margin: 10px 0; }

#text-big-right {
  margin: 30px 0; }

footer {
  height: 300px;
  width: 100%;
  background-color: #222;
  position: relative; }
  footer ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%; }
    footer ul li {
      display: inline-block;
      margin: 0 15px;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 2.5; }
      footer ul li a {
        color: #fff;
        text-transform: uppercase; }
