article {
  width: 93%;
  max-width: 1200px;
  display: table;
  clear: both;
  background-color: #fff;
  padding-bottom: 80px;
  border-right: 1px solid #ececec;
  .container {
    margin-right: 0;
  }
}

#ratings {
  li {
    display: inline-block;
    margin: 0 15px;
  }
  &-likes {
    background-image: url('.assets/img/icons/ratings/likes.png');
    background-size: contain;
    width: 32px;
  }
  &-views {
    background-image: url('.assets/img/icons/ratings/views.png');
    background-size: contain;
    width: 32px;
  }
  &-comments {
    background-image: url('.assets/img/icons/ratings/comments.png');
    background-size: contain;
    width: 32px;
  }
}

#social-share {
  width: 15%;
  float: left;
  margin-top: 200px;
  ul {
    display: inline-block;
    li {
      border: 1px solid #e2e2e2;
    }
  }
}

#content {
  width: 60%;
  padding-right: 20px;
  float: none;
  p {
    @include font-size(1.4);
    margin: 10px 0;
    line-height: 1.4;
  }
  h2 {
    border-bottom: 1px solid #e2e2e2;
  }
  h3 {
    @include font-size(1.4);
    margin: 20px 0;
    line-height: 1.4;
  }
}

#artist-info {
  width: 25%;
  float: right;
  background-color: #1D2027;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: -115px;
  img {
    border-radius: 50%;
  }
  #artist-image {
    border-radius: 50%;
    background-image: url(../../img/info-img.jpg);
    background-repeat: no-repeat;
    width: 80px;
    background-size: cover;
    height: 80px;
    background-position: center;
    margin: 0 auto;
  }
  #navbar {
    float: none;
    width: 100%;
    ul {
      text-align: left;
      li {
        text-align: center;
        width: 49%;
        display: inline-block;
        // background-color: #20232B
        background-color: #2a2e39;
        color: #DDCBC1;
        padding: 25px 0;
        @include font-size(1.5);
        font-weight: bold;
        margin: 0;
      }
    }
  }
  h3 {
    @include font-size(2);
    font-weight: bold;
    margin: 15px 0;
  }
  #learn-more {
    padding: 10px 25px 0 25px;
    width: 100%;
    img {
      border-radius: 50%;
    }
    ul {
      text-align: left;
      li {
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid rgba(255,255,255,.5);
        display: block;
        width: 100%;
        &:first-of-type {
          border-top: 0;
        }
        &:last-of-type {
          border-bottom: 0;
        }
        p {
          @include font-size(1.1);
          display: inline-block;
        }
        span {
          float: right;
          @include font-size(1);
        }
      }
    }
  }
}

#image-slider {
  width: 75%;
  margin: 40px 0;
  &-counter {
    position: relative;
    display: inline-block;
    float: right;
    #playButton {
      background-color: #FC004E;
      display: inline-block;
      float: right;
      text-align: center;
      padding: 30px 35px;
      position: absolute;
      right: 0;
      top: -27px; color: #fff;
      color: #fff;
    }
    ul {
      background-color: #fbfbfb;
      padding-right: 76px;
      li {
        display: inline-block;
        padding: 6px 25px;
        margin: 0;
        @include font-size(1.4);
        font-weight: bold;
      }
    }
  }
}

section {
  margin-left: 15%;
  margin-right: 25%;
  font-size: 1.4rem;
  line-height: 1.4;
  p {
    margin: 10px 0;
  }
}

#image-block {
  height: 400px;
  width: 90%;
  position: relative;
  margin: 60px 0;
  &-right {
    width:60%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
  }
  &-left {
    width:60%;
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 50px;
  }
}
