@import './base/reset';
@import './base/mixins';
@import './base/variables';
@import './components/buttons';
@import './components/grid';
@import './components/navigation';
@import './components/sections';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px, 62.5% of 16px
}

body {
  background-color: #F8F8F8;
}

.wrapper {
  width: 100%;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  //font-family: 'Lato', sans-serif;
  font-family: 'Bree Serif', serif;
  line-height: 1;
  //font-family: 'Alegreya', serif;
  //font-family: 'Rokkitt', serif;
  // Superhero kanske font-family: 'Bangers', cursive;
  // Kanske font-family: 'Oleo Script', cursive;
  //font-family: 'Arima Madurai', cursive;
}

p {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: table;
  clear: both;
}

.topbar {
  padding: 8px 0;
  h2 {
    padding: 5px 10px;
    border: 2px solid rgba(000,000,000, 1);
    display: inline-block;
    color: #000;
    float: left;
    @include font-size(1.4);
    margin: 0 15px;
  }
}
img {
  float: left;
}
nav {
  display: inline-block;
  float: right;
}
li {
  display: inline-block;
  margin: 0 15px;
  @include font-size(1.2);
  font-weight: bold;
  line-height: 2.5;
  a {
    color: #000;
    text-transform: uppercase;
  }
}

header {
  position: relative;
  text-align: center;
  height: 750px;
  width: 100%;
  max-width: 80%;
  padding: 0 20px;
  background: #444 url('../../img/macklemore-one.jpg');
  background-position: left;
  background-size: cover;
  .row {
    padding: 20px 0;
  }
  h1 {
    @include font-size(11);
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    text-shadow: 7px 0 0 #444;
    position: absolute;
    bottom: -13px;
    margin-left: 105px;
  }
  .title {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
  }
}

#quote {
  @include font-size(3);
  font-weight: bold;
  padding: 30px 0;
}

.icon {
  width: 54px;
}

#play {
  float: right;
  width: 34px;
  float: right;
}

#text-big {
  font-weight: bold;
  font-size: 3rem !important;
  text-align: left;
  display: inline-block;
  float: left;
  width: 40%;
  padding: 25px;
  margin: 10px 0;
}

#text-big-right {
  margin: 30px 0;
}

footer {
  height: 300px;
  width: 100%;
  background-color: #222;
  position: relative;
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    li {
      display: inline-block;
      margin: 0 15px;
      @include font-size(1.2);
      font-weight: bold;
      line-height: 2.5;
      a {
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
